.wrapper {
    justify-content: center;
    align-items: center;
    .nav {
        height: 40px;
        width: 100%;
        background-color: black;
        position: fixed;
    }

    .header {
        background: url(../img/sailboat.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;

        

        .header__title {
            background-color: black;
            display: inline-block;
            width: auto;
            height: 40px;
            margin-top: calc(100vh - 60px);
            margin-left: 20px;
            color: white;
            font-size: 25px;
            padding: 10px 10px 10px 10px;
            &:hover {
                background-color: green;
            }
            
            
        }


    }

    .main {
        border: red 1px;
        height: 1000px;

    }

    .footer {
        background-color: black;
        height: 250px;
        
    }
}